.box{
	/*width: 95%;*/
	margin:0 auto;
}
.shadow{
	width: 100%;
	height: 100%;
	position: fixed;
	background: grey;
	z-index: 20;
	opacity:0.5;
}
.header{
	height: 80px;
	background: #a4a555; 
	padding-top:10px; 
	margin-bottom: 30px;
}
.header p{
	color: #fff;
	font-size: 40px;
	text-align: center;
}
.title{
	margin-left: 30px;
}
.bs-example{
	width: 300px;
	display: inline-block;
	float: left;
}
.dropdown{
	display: inline-block;
	float: left;
}
.table{
	width: 95%;
	margin: 0 auto;
}
thead th:first-child{
	width: 70px;
}
thead th:nth-child(2){
	width: 330px;
	cursor: pointer;
}
thead th:nth-child(3){
	width: 330px;
	cursor: pointer;
}
thead th:nth-child(4){
	width: 200px;
	cursor: pointer;
}
.write{
	margin-left: 50px;
}
.del{
	width: 250px;
	height: 100px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -125px;
	z-index: 22;
}

.del p{
	text-align: center;
	display: block;
	margin-bottom: 10px;
}
.del button{
	margin:0 20px;
}
.revise{
	width: 500px;
	height: 350px;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -250px;
	background-color:none; 
	z-index: 21;
	/*display: none;*/
}
.revise p{
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.reviseInput{
	margin-top: 10px;
}
.err{
	width: 100px;
	height: 40px;
	display: inline-block;
	float: left;
}
.btn-box{
	float: right;
	width: 237px;
	height: 50px;
}
.revise-btn{
	box-sizing: border-box;
}
.revise button{
	margin-left: 10px;
}
.addBox{
	position: relative;
	margin:30px 0 0 30px;
}
.add{
	width: 200px;
	height: 100px;
	position: absolute;
	top: -30px;
	left: 650px;
}
.add-btn{
	margin:10px 50px;
}